@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

button{
	cursor: pointer;
  }
.share_facebook{
	padding: 1% 2%;
	background-color: #3b5998;
	-webkit-box-shadow: 5px 5px 5px #444444;
        -moz-box-shadow: 5px 5px 5px #444444;
        box-shadow: 5px 5px 5px #444444;
        -webkit-border-radius: 5px 10px 0px 5px;
        -moz-border-radius: 5px 10px 0px 5px;
        border-radius: 5px 10px 0px 5px;
	color: #ffffff;
	font-weight: bold;
	border: none;
	margin: 1%;
}
.share_twitter{
	padding: 1% 2%;
	background-color: #28A9E0;
	-webkit-box-shadow: 5px 5px 5px #444444;
        -moz-box-shadow: 5px 5px 5px #444444;
        box-shadow: 5px 5px 5px #444444;
        -webkit-border-radius: 5px 10px 0px 5px;
        -moz-border-radius: 5px 10px 0px 5px;
        border-radius: 5px 10px 0px 5px;
	color: #ffffff;
	font-weight: bold;
	border: none;
	margin: 1%;
}
.share_gplus{
	padding: 1% 2%;
	background-color: #cd3627;
	-webkit-box-shadow: 5px 5px 5px #444444;
        -moz-box-shadow: 5px 5px 5px #444444;
        box-shadow: 5px 5px 5px #444444;
        -webkit-border-radius: 5px 10px 0px 5px;
        -moz-border-radius: 5px 10px 0px 5px;
        border-radius: 5px 10px 0px 5px;
	color: #ffffff;
	font-weight: bold;
	border: none;
	margin: 1%;
}
.share_linkedin{
	padding: 1% 2%;
	background-color: #0e76a8;
	-webkit-box-shadow: 5px 5px 5px #444444;
        -moz-box-shadow: 5px 5px 5px #444444;
        box-shadow: 5px 5px 5px #444444;
        -webkit-border-radius: 5px 10px 0px 5px;
        -moz-border-radius: 5px 10px 0px 5px;
        border-radius: 5px 10px 0px 5px;
	color: #ffffff;
	font-weight: bold;
	border: none;
	margin: 1%;
  }
.share_trumblr{
	padding: 1% 2%;
	background-color: #333333;
	-webkit-box-shadow: 5px 5px 5px #444444;
        -moz-box-shadow: 5px 5px 5px #444444;
        box-shadow: 5px 5px 5px #444444;
        -webkit-border-radius: 5px 10px 0px 5px;
        -moz-border-radius: 5px 10px 0px 5px;
        border-radius: 5px 10px 0px 5px;
	color: #ffffff;
	font-weight: bold;
	border: none;
	margin: 1%;
}
.share_pinterest{
	padding: 1% 2%;
	background-color: #cd3627;
	-webkit-box-shadow: 5px 5px 5px #444444;
        -moz-box-shadow: 5px 5px 5px #444444;
        box-shadow: 5px 5px 5px #444444;
        -webkit-border-radius: 5px 10px 0px 5px;
        -moz-border-radius: 5px 10px 0px 5px;
        border-radius: 5px 10px 0px 5px;
	color: #ffffff;
	font-weight: bold;
	border: none;
	margin: 1%;
}
.share_reddit{
	padding: 1% 2%;
	background-color: #7db3ef;
	-webkit-box-shadow: 5px 5px 5px #444444;
        -moz-box-shadow: 5px 5px 5px #444444;
        box-shadow: 5px 5px 5px #444444;
        -webkit-border-radius: 5px 10px 0px 5px;
        -moz-border-radius: 5px 10px 0px 5px;
        border-radius: 5px 10px 0px 5px;
	color: #ffffff;
	font-weight: bold;
	border: none;
	margin: 1%;
}
.share_stumbleupon{
	padding: 1% 2%;
	background-color: #cd3627;
	-webkit-box-shadow: 5px 5px 5px #444444;
        -moz-box-shadow: 5px 5px 5px #444444;
        box-shadow: 5px 5px 5px #444444;
        -webkit-border-radius: 5px 10px 0px 5px;
        -moz-border-radius: 5px 10px 0px 5px;
        border-radius: 5px 10px 0px 5px;
	color: #ffffff;
	font-weight: bold;
	border: none;
	margin: 1%;
}
.share_vk{
	padding: 1% 2%;
	background-color: #0e76a8;
	-webkit-box-shadow: 5px 5px 5px #444444;
        -moz-box-shadow: 5px 5px 5px #444444;
        box-shadow: 5px 5px 5px #444444;
        -webkit-border-radius: 5px 10px 0px 5px;
        -moz-border-radius: 5px 10px 0px 5px;
        border-radius: 5px 10px 0px 5px;
	color: #ffffff;
	font-weight: bold;
	border: none;
	margin: 1%;
}
.share_xing{
	padding: 1% 2%;
	background-color: #1a7576;
	-webkit-box-shadow: 5px 5px 5px #444444;
        -moz-box-shadow: 5px 5px 5px #444444;
        box-shadow: 5px 5px 5px #444444;
        -webkit-border-radius: 5px 10px 0px 5px;
        -moz-border-radius: 5px 10px 0px 5px;
        border-radius: 5px 10px 0px 5px;
	color: #ffffff;
	font-weight: bold;
	border: none;
	margin: 1%;
}
