button{
	cursor: pointer;
  }
.share_facebook{
	padding: 1% 2%;
	background-color: #3b5998;
	-webkit-box-shadow: 5px 5px 5px #444444;
        -moz-box-shadow: 5px 5px 5px #444444;
        box-shadow: 5px 5px 5px #444444;
	color: #ffffff;
	font-weight: bold;
	border: none;
	margin: 1%;
}
.share_twitter{
	padding: 1% 2%;
	background-color: #28A9E0;
	color: #ffffff;
	font-weight: bold;
	border: none;
	margin: 1%;
}
.share_gplus{
	padding: 1% 2%;
	background-color: #EA4335;
	color: #ffffff;
	font-weight: bold;
	border: none;
	margin: 1%;
}
.share_linkedin{
	padding: 1% 2%;
	background-color: #0e76a8;
	color: #ffffff;
	font-weight: bold;
	border: none;
	margin: 1%;
  }
.share_trumblr{
	padding: 1% 2%;
	background-color: #333333;
	color: #ffffff;
	font-weight: bold;
	border: none;
	margin: 1%;
}
.share_livejournal{
	padding: 1% 2%;
	background-color: #0e76a8;
	color: #ffffff;
	font-weight: bold;
	border: none;
	margin: 1%;
}
.share_reddit{
	padding: 1% 2%;
	background-color: #28A9E0;
	color: #ffffff;
	font-weight: bold;
	border: none;
	margin: 1%;
}
.share_stumbleupon{
	padding: 1% 2%;
	background-color: #EA4335;
	color: #ffffff;
	font-weight: bold;
	border: none;
	margin: 1%;
}
