button{
	cursor: pointer;
}
button:{
	padding: 1% 2%;
	background-color: #3b5998;
	color: #ffffff;
	font-weight: bold;
	border: none;
	margin: 1%;
}
button:{
	padding: 1% 2%;
	background-color: #28A9E0;
	color: #ffffff;
	font-weight: bold;
	border: none;
	margin: 1%;
}
button:{
	padding: 1% 2%;
	background-color: #EA4335;
	color: #ffffff;
	font-weight: bold;
	border: none;
	margin: 1%;
}
button:{
	padding: 1% 2%;
	background-color: #333333;
	color: #ffffff;
	font-weight: bold;
	border: none;
	margin: 1%;
}
button:{
	padding: 1% 2%;
	background-color: #EB4924;
	color: #ffffff;
	font-weight: bold;
	border: none;
	margin: 1%;
}
